body{
    background:rgb(204, 135, 135);
    margin-left: 75px ;
    margin-right: 200px;
    
    
}

header{
    margin-top: 70px;
}

h1 {
color: rebeccapurple;
font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

img{
    margin-bottom: 20px;
}

footer{
    margin-bottom: 30px;
}